.navbar {
  background-color: #667eea;
}

span{
    color: white;
    font-weight: 500;
    font-size: xx-large;
}
.nav-links {
    color: white;
    text-decoration: none;
    padding-right: 35px;
  }
  
  .nav-links:hover {
    color: #670896;
    text-decoration: underline;
  }
  
  .nav-links:active {
    color: #670896;
  }
.search-form {
  position: relative;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  padding-right: 40px;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #0487fb;
  cursor: pointer;
}

.search-button .fa-search {
  font-size: 1.2em;
}

.btn-cart{
    background-color: whitesmoke;
    margin-right: 12px;
    margin-left: 12px;
}

.btn-cart:hover{
    background-color: whitesmoke;
    margin-right: 12px;
    margin-left: 12px;
}
.btn-login{
    background-color: #764ba2;
    color: white;
    width: 90px;
    height: 40px;
}

.btn-login:hover{
    background-color: #764ba2;
    color: white;
    width: 90px;
    height: 40px;
}

.btn-signup{
    background-color: #764ba2;
    color: white;
    width: 90px;
    height: 40px;
}

.btn-signup:hover{
    background-color: #764ba2;
    color: white;
    width: 90px;
    height: 40px;
}
  